/* importing css */
@import "tailwindcss";
@import "flowbite";
@theme {
  --color-bg: #0f0f14;
  --color-surface: #181825;
  --color-border: #2a2a3a;

  --color-primary: #f8f8f2;
  --color-secondary: #a1a1b5;

  --color-accent: #bd93f9;
  --color-accent-hover: #a87ff0;
}

@layer base {
  body {
    @apply bg-bg text-primary;
  }
}